@page "/details"

<PageTitle>Instagram Veri İndirme</PageTitle>

<div class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1 mt-4">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="alert-heading">Veri İndirme Özelliğini Kullanarak Instagram Takip Etmeyenleri Bulma</h4>
            </div>
            <div class="card-body">
                <p>Instagram'ın veri indirme özelliğini kullanarak, profilinizde kimlerin sizi takip etmeyi bıraktığını kolaylıkla tespit edebilirsiniz. Bu özellik, Instagram hesabınızla ilgili tüm verileri bir arşiv dosyası olarak indirmenize olanak tanır. İşte adım adım yapmanız gerekenler:</p>

                <ol>
                    <li><strong>Instagram Profilinize Gidin:</strong> Instagram uygulamasını açın ve profil sayfanıza gidin.</li>
                    <li><strong>Ayarlar'a Erişin:</strong> Sağ üst köşedeki menü simgesine (üç çizgi) tıklayın ve açılan menüden 'Ayarlar'a gidin.</li>
                    <img src="images/1.png" alt="Ayarlar'a Erişin" class="img-fluid my-2 step-image" />
                    <li><strong>Hesaplar Merkezi Seçeneğini Bulun:</strong> Ayarlar menüsünde, 'Hesaplar Merkezi' seçeneğine tıklayın.</li>
                    <img src="images/2.png" alt="Hesaplar Merkezi Seçeneğini Bulun" class="img-fluid my-2 step-image" />
                    <li><strong>Bilgilerin ve İzinlerin Seçeneğini Bulun:</strong> Hesaplar Merkezi menüsünde, 'Bilgilerin ve İzinlerin' seçeneğine tıklayın.</li>
                    <img src="images/3.png" alt="Bilgilerin ve İzinlerin Seçeneğini Bulun" class="img-fluid my-2 step-image" />
                    <li><strong>Bilgilerini İndir:</strong> 'Bilgilerini İndir' seçeneğine gidin. Burada bazı bilgileri indir seçeneğine tıklayıp sadece takipçi ve takip edilen seçeneğini seçerseniz yeterli olacaktır.</li>
                    <img src="images/4.png" alt="Bilgilerini İndir" class="img-fluid my-2 step-image" />
                    <img src="images/5.png" alt="Bilgilerini İndir" class="img-fluid my-2 step-image" />
                    <img src="images/6.png" alt="Bilgilerini İndir" class="img-fluid my-2 step-image" />
                    <img src="images/7.png" alt="Bilgilerini İndir" class="img-fluid my-2 step-image" />
                    <li><strong>İndirilecek yeri seçin:</strong> Cihaza indir ile kayıtlı e-posta adresinize gönderir. Hedefe aktar ile drive veya dropbox hesabınıza gönderebilirsiniz.</li>
                    <img src="images/8.png" alt="İndirme İsteğini Onaylayın" class="img-fluid my-2 step-image" />
                    <li><strong>Tarih aralığı seçin:</strong> Doğru sonuç verebilmesi için tüm zamanları seçmelisiniz.</li>
                    <img src="images/9.png" alt="İndirme İsteğini Onaylayın" class="img-fluid my-2 step-image" />
                    <img src="images/10.png" alt="İndirme İsteğini Onaylayın" class="img-fluid my-2 step-image" />
                    <li><strong>İndirme İsteğini Onaylayın:</strong> İndirme isteğini göndermek için ilgili butona tıklayın. Instagram, talebinizi aldıktan sonra, hesap verilerinizin yer aldığı bir bağlantı içeren bir e-posta gönderecektir. (Not: Gelecek olan e-posta, bir önceki adımda seçtiğiniz zaman sınıra göre erken yada geç gelmesi değişiklik gösterir.)</li>
                    <img src="images/11.png" alt="İndirme İsteğini Onaylayın" class="img-fluid my-2 step-image" />
                    <li><strong>E-postayı Kontrol Edin:</strong> Instagram'dan gelen e-postayı kontrol edin. E-postada, verilerinizi indirebileceğiniz bir bağlantı bulunacaktır. Bu bağlantıya tıklayarak verilerinizi indirin.</li>
                    <li><strong>Instagram Arşiv Dosyasını İndirdikten Sonra:</strong> ZIP dosyasını açın ve <code>followers.html</code> (takipçi listesi) ve <code>following.html</code> (takip edilenler listesi) dosyalarını çıkarın.</li>
                    <li><strong>Dosyaları Yükleyin:</strong> <NavLink href="/">Unfollowers</NavLink> formunu kullanarak takipçi ve takip edilen listelerini yükleyin.</li>
                </ol>

                <p>Bu yöntem, herhangi bir üçüncü taraf uygulaması kullanmadan Instagram takip etmeyenleri bulmanın güvenli ve etkili bir yoludur. Ayrıca, bu yöntemle elde ettiğiniz bilgiler tamamen doğru ve günceldir.</p>
            </div>
        </div>
    </div>

    <footer class="mt-auto py-3 bg-light text-center w-100">
        <div class="container" style="text-align:center">
            &copy; Cavit Selman 2024 - Unfollowers - Tüm Hakları Saklıdır.
        </div>
    </footer>
</div>

<style>
    .step-image {
        height: 400px;
    }

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
</style>





